@{
    ViewData["Title"] = "Index";
    ViewBag.AMail = "nav-active nav-expanded";
}

@section Styles {
    <link rel="stylesheet" href="/Ajax/_dataTable/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Ajax/_dataTable/table.css" rel="stylesheet" />
}
@section Scripts {

    <script type="text/javascript" src="/Ajax/_dataTable/datatables.min.js"></script>
    <script type="module" src="/Ajax/Mail/table.js" asp-append-version="true"></script>
}

@if (TempData["MailMessage"] != null)
{
    <div class="alert alert-success">@TempData["MailMessage"]</div>
}

<section>
    <div class="card card-modern mb-2">
        <div class="card-body">


            <button class="btn btn-dark px-5 mb-md-0 mb-lg-0" onclick="reloadDataTable()">
                Tablo Yenile
                <i class="fa-solid fa-arrows-rotate ms-1"></i>
            </button>

        </div>
    </div>
</section>



<section>
    <div class="card card-modern mb-2">
        <div class="card-body">
            @*start*@
            <div class="table-responsive">
                <table id="example" class="display table  table-striped  bordered" style="width:100%">
                    <thead class="bg-dark text-white table-head-position-sticky">
                        <tr>
                            <th style="max-width: 7px;width: 7px;"></th>
                            <th>Name</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Message</th>
                            <th>Created</th>
                            <th style="width: 250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            @*end*@
        </div>
    </div>
</section>
